.search-container {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0;
    left: 35px;
}

.search-container input {
    width: 190%;
    padding: 18px 25px;
    padding-right: 15em;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
    transition: all 0.2s ease-in-out;
    height: auto;
    transform: translateX(-23%);
    color: #333;
    background-color: white;
    border: 2px solid #e0e0e0;
}

.search-container input:focus {
    border: 2px solid #043404;
    border-radius: 25px;
    box-shadow: 0 0 1px rgb(0, 0, 0),
        0 0 3px rgb(11, 97, 11),
        0 0 0px rgb(6, 88, 6);
    outline: none;
}

.search-button {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #000000;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.search-button:hover {
    transform: translateY(-53%);
}

.search-text {
    font-size: 17px;
    font-weight: 400;
}

.search-icon {
    height: 25px;
    font-size: 17px;
    margin-right: 4px;
}

.parent-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 40%;
    bottom: 80px;
    left: 150px;
    border-radius: 30px;
    border: 2px solid #3c3b3b;
    backdrop-filter: blur(5px);
}

.logo-container {
    text-align: center;
    position: absolute;
    top: 19px;
    left: 30px;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 17px;
}

.logo-container .title {
    right: 12px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-container .subtitle {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-container {
    padding-right: 70px;
}

.trusted-by {
    position: absolute;
    bottom: -65px;
    color: #ffffff;
    left: -115px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.company-list {
    display: flex;
    gap: 40px;
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.company-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.company-icon {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease;
}

.company-item:hover .company-icon {
    color: rgb(123, 117, 117);
    transform: translateY(-1px);
}

.company-item:hover {
    color: rgb(123, 117, 117);
}