.category-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 30px;
    position: relative;
}

.category-item {
    text-align: center;
    background-color: azure;
    border: 3.5px solid transparent;  
    border-radius: 12px;
    padding: 25px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.list-container {
    padding: 20px;
    max-width: 1400px;
    margin: auto;
    border-radius: 12px;
    margin-top: 100px;
}

.category-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #2ecc71; 
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.icon-container svg {
    color: #2ecc71;
    margin-bottom: 15px;
}

.category-item span {
    color: black;
    font-size: large;
    display: block;
}

.category-item a {
    text-decoration: none;
}
.header-container h4 {
    font-size: 55px;
    margin-bottom: 10px;
    color:white;
    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon-container span {
   text-align: start;
   font-size: 21px;
   font-weight: 400;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}